
.icon-ok:before { content: '\e800'; } /* '' */
.icon-resize-full-alt:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\e802'; } /* '' */
.icon-code-1:before { content: '\e803'; } /* '' */
.icon-code-outline:before { content: '\e804'; } /* '' */
.icon-bold:before { content: '\e805'; } /* '' */
.icon-italic:before { content: '\e806'; } /* '' */
.icon-underline:before { content: '\e807'; } /* '' */
.icon-strike:before { content: '\e808'; } /* '' */
.icon-color-adjust:before { content: '\e809'; } /* '' */